.scroll {
  width: 27px;
  height: 40px;
  border-radius: 12px;
  border: 2px solid $white;
  background: transparent;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -15px;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;

  &::before {
    content: '';
    width: 3px;
    height: 8px;
    background: $white;
    position: absolute;
    left: 10px;
    top: 5px;
    border-radius: 1px;

    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
}

@keyframes scroll {
  0% { transform: translateY(0); }
  50% { transform: translateY(7px);  }
  100% { transform: translateY(0); }
}
