// Layout
// --------------------------------------------------

body {
  width: 100%;
  overflow-x: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
  margin: 0;
  transition: transform 400ms;
  background: $white;

  &.slide-canvas {
    @include respond-below (lg) {
      position: fixed;
      transform: translate(400px);
    }

    @include respond-below(md) {
      transform: translate(calc(100% - 60px));
    }
  }
}

section {
  position: relative;
  height: 100%;
  width: 100%;
}

.wrapper {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    position: relative;
    display: block;

    @include respond-below(xl) {
      padding: 0 40px;
    }
    @include respond-below(md) {
      padding: 0 20px;
    }
}


.flex-half {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;

  &.green {
    background: $primary-color;
  }
}
