// Buttons
// --------------------------------------------------

.button {
  @include button;

  &.green {
    background: $primary-color;
    color: $white;
    border-color: $primary-color;
  }

  &.large{
    padding:15px !important;
  }
}
