// Buttons
// --------------------------------------------------

.button {
  @include button;

  &.green {
    background: $primary-color;
    color: $white;
    border-color: $primary-color;
  }

  &.large{
    padding:15px !important;
    width: 100%;
  }
}

.button-group{
  margin:0 auto;
}
