// Inputs
// --------------------------------------------------

// Textfields
input {
  &[type=date],
  &[type=text],
  &[type=email],
  &[type=url],
  &[type=search],
  &[type=password],
  &[type=tel] {
    @extend %input-text;
    padding:15px !important;
    border-radius: 200px;
    border-color: $secondary-color;
    background: none;
    max-width: 100%;
    font-size: 12px;
    font-weight: $font-weight-medium;

    &:focus{
      background:none;
      border-color: $primary-color;
    }
  }
}

//Textarea
textarea {
  padding:15px !important;
  border-color: $primary-color;
  width: 100%;
  max-width: 100%;
}

// Selects
select {
  @extend %input-select;
}
