#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;   
  background-image: url('../../public/images/background.png');
  background-size: cover;

  img{
    margin-bottom:35px;
  }

  .form {
    padding: 40px;
    border-radius: 3px;

    h1 {
      color: $primary-color;
      margin-bottom:40px;
    }

    .button{
      width: 100%;
    }

    input {
      margin: 5px 0;
      padding: 10px;
    }
  }
}
