#photo {
  background: url('../images/background.png');
  text-align: center;

  iframe {
    display: none;
  }

  h1{
    color: $gray-dark;
    margin:0px 0 0 0;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  p{
    font-weight: $font-weight-medium;
  }

  img{
    margin:40px auto;
    width: 200px;
  }

  .item{
    margin: 0 auto;
    text-align: center;
    float:none;
    margin-top:20px;
  }
  .time-left{
    font-weight: $font-weight-medium;
    font-size: 14px;
    text-transform: uppercase;
  }
  .button{
    position: absolute;
    bottom:20px;
    left:0;
    right:0;
    width: 90%;
    margin:0 auto;
  }

  .photo-button {
    padding: 40px 0;
    text-align: center;
    width: 100%;

    a {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      background: $white;
      display: inline-block;
      margin: 0 auto;
      position: relative;

      &::after {
        width: 80px;
        height: 80px;
        position: absolute;
        content: '';
        left: 8px;
        top: 8px;
        border: 2px solid #333;
        border-radius: 100%;
      }
    }
  }

  .popup {
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:100;
    display: none;
    background: $white;

    iframe {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
