#profile {
  text-align: center;
  display: flex;
  flex-direction: column;

  .avatar-holder {
    margin: 0 auto;
  }

  .button-group {
    margin-top: 40px;
    flex-direction: row;
    display: flex;
  }

  .badge{
    position: absolute;
    width:50%;
    margin:0 auto;
    left:0;
    right:0;
    top:-40px;
  }

  .tip {
    p {
      color: $black;
      font-size: 1.3rem;
    }
  }

  .flex-half.green{
    position: relative !important;
    background: url('../../public/images/background.png') !important;
    background-size: cover;

    a{
      position: absolute;
      bottom:20px;
      left:0;
      right:0;
      width: 90%;
      margin:0 auto;
    }
  }
}
